

@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<link href="~/CSS/AboutUs.css" rel="stylesheet" />

<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <p>
                    At <b>Bake A cake!</b>, we follow a fairly simple philosophy - offer a product of
                    outstanding quality and ensure customer loyalty. The simplicity of that principle
                    is backed up by lots of hard work and years of experience. All our products are 100%
                    VEG, prepared in a modern compact bakery where we adhere to stringent guidelines of
                    hygiene and cleanliness ensuring a safe and healthy food preparation for all our
                    patrons.
                </p>
                <br>
                <p>
                    We are happy and pleased that we have made a success in creating products which meet
                    our Customers Expectations in Quality, Richness, and Satisfaction. Catering to nearly
                    90% Customized cakes as per customer's requirement/ demand, we are glad we have reached
                    100% on that demand, with not even a single denial to any customer.
                </p>
                <!-- <div class="button">
                    <a href="">Read More</a>
                </div> -->
            </div>
            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="~/Images/About Us.png" class="img-fluid" />


        </div>
    </div>
</div>

