<h3 style="color: black; font-size: 20px;">Admin ID</h3>
<input class="login-f2" type="text" id="name" required placeholder="Admin Id">


<h3 style="color: black; font-size: 20px;">Admin Password</h3>
<input class="login-f2" type="password" id="name" required placeholder="Admin Password">

<br>
<br>
<input type="submit" value="Login" class="btn btn-default" />
